@import "./variables";
/* form styles */
@mixin ShareFormTitle {
  color: $blue-800;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
@mixin formTitle {
  @include ShareFormTitle;
  font-size: 1.8rem;
  letter-spacing: -0.025rem;
}
@mixin formLabel {
  @include ShareFormTitle;
  font-size: 1.3rem;
  letter-spacing: -0.018rem;
}
@mixin formDescription {
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  color: $blue-500;
  font-weight: normal;
  line-height: 1.6rem;
}
