<article class="new-feedback">

  <button class="go-back new-feedback-go-back"> <img src="assets/shared/icon-arrow-left.svg"
      alt="blue arrow that points to the left">go back
  </button>

  <form action="post" class="new-feedback-form form">
    <img class="new-feedback-icon form-icon" src="assets/shared/icon-new-feedback.svg"
      alt="white plus cross in a purple and blue gradient background">
    <h1 class="form-name">create new feedback</h1>
    <div class="form-group form-title">
      <label class="form-group-title" for="title">feedback title</label>
      <p class="form-group-description form-description">Add a short, descriptive headline</p>
      <input class="form-group-input " type="text" id="title">
    </div>
    <div class="form-group form-category">
      <label for="category" class="drop-down-label form-group-title">category</label>
      <p class="form-group-description form-caption">Choose a category for your feedback</p>
      <app-custom-drop-down class="form-group-dropdown"></app-custom-drop-down>

    </div>
    <div class="form-group form-detail">
      <label for="detail">feedback detail</label>
      <p class="form-caption">Include any specific comments on what should be improved, added, etc.</p>
      <textarea type="text-area" class=" form-group-input form-control" id="detail"></textarea>
    </div>
    <button class="button form-add">add feedback</button>
    <button class="button form-cancel">cancel</button>
  </form>
</article>